<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-md-4"></div>
    <div id="logo" class="col-md-4">
      <img
        src="https://i.ibb.co/tDdZ3Yw/Logo.png"
        class="img-responsive"
        alt="StarWars"
        width="40%"
      />
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-2">
          <a href="#"
            ><img alt="Peliculas" src="https://i.ibb.co/N7hHQ39/Peliculas.png"
          /></a>
        </div>
        <div class="col-md-2">
          <a href="#"
            ><img alt="Personajes" src="https://i.ibb.co/5G6FQtY/Personajes.png"
          /></a>
        </div>
        <div class="col-md-2">
          <a href="#"
            ><img alt="Planetas" src="https://i.ibb.co/C846dP9/Planetas.png"
          /></a>
        </div>
        <div class="col-md-2">
          <a href="#"
            ><img alt="Especies" src="https://i.ibb.co/X2TTwSW/Especies.png"
          /></a>
        </div>
        <div class="col-md-2">
          <a href="#"
            ><img alt="Vehiculos" src="https://i.ibb.co/5jq273H/Vehiculos.png"
          /></a>
        </div>
        <div class="col-md-2">
          <a href="#"
            ><img alt="Naves" src="https://i.ibb.co/HT9sjp4/Naves.png"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row fila-episodios">
    <div class="col-md-4">
      <img
        (click)="getThePhantomMenace()"
        class="episodios"
        alt="Episodio1"
        src="https://i.ibb.co/bKJ9z4F/Episodio1.png"
      />
    </div>
    <div class="col-md-4">
      <img
        (click)="getAttackOfTheClones()"
        class="episodios"
        alt="Episodio2"
        src="https://i.ibb.co/3d5z3cD/Episodio2.png"
      />
    </div>
    <div class="col-md-4">
      <img
        (click)="getRevengeOfTheSith()"
        class="episodios"
        alt="Episodio3"
        src="https://i.ibb.co/nChhbM6/Episodio3.png"
      />
    </div>
  </div>
  <div class="row fila-episodios">
    <div class="col-md-4">
      <img
        (click)="getAnewHope()"
        class="episodios"
        alt="Episodio4"
        src="https://i.ibb.co/1vbdZcJ/Episodio4.png"
      />
    </div>
    <div class="col-md-4">
      <img
        (click)="getTheEmpiresStrikesBack()"
        class="episodios"
        alt="Episodio5"
        src="https://i.ibb.co/4W9MhvP/Episodio5.png"
      />
    </div>
    <div class="col-md-4">
      <img
        (click)="getReturnOfTheJedi()"
        class="episodios"
        alt="Episodio6"
        src="https://i.ibb.co/NFGMmRP/Episodio6.png"
      />
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<router-outlet></router-outlet>
