/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://wallpaperplay.com/walls/full/9/d/f/104426.jpg");
  background-color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
